Multilevel_Ising.py
graphs/*
ising/*
.ipynb_checkpoints/*
twopt/*
twopt_weighted/*
twopt_bootstrap/*
twopt_jackknife/*
py_scripts_2020_05_06/*
*.gif
settings.json
*cpython*
__pycache__/*_
safe_keeping.py
